{% extends "base.html" %}

{% block content %}
<style>
    .overflow-y-scroll {
    max-height: 60vh;
}
</style>

<div class="bg-gray-100 py-8">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">

        <!-- Profile Section -->
        <div class="block sm:flex items-center mb-8 gap-6 shadow-lg p-6 overflow-y-scroll">
            <img src="{{ profile.profile_pic }}" alt="Profile Picture" class="w-36 h-36 md:w-48 md:w-48 lg:h-52 lg:w-52 rounded-full mr-4">
            <div>
                <p class="text-base md:text-lg font-bold p-4">{{ logged_in_user.name }}</p>
                <p class="text-gray-600 p-4 text-base md:text-lg">{{ profile.bio }}</p>
            </div>
        </div>

        <!-- Programs Section -->
        <div class="shadow-lg p-6 overflow-y-scroll">
            <h2 class="text-lg md:text-xl font-bold mb-4">Programs</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4" id="programs-container">
                {% for program in programs %}
                <div class="bg-white shadow-md rounded-lg p-6">
                    <p class="font-bold text-base md:text-xl">{{ program.start_date }} - {{ program.end_date }}</p>
                    <p class="text-base md:text-xl">Rating: {{ program.rating }}</p>
                    <p class="text-base md:text-xl">Description: {{ program.description }}</p>
                    <div class="flex flex-col sm:flex-row justify-center items-center mt-4">
                        <a href="/programs/program/{{ logged_in_user.id }}/{{ program.id }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 m-4 px-4 rounded">
                            View Program
                        </a>
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 m-4 rounded" data-program-id="{{ program.id }}">
                            Delete Program
                        </button>
                    </div>
                    
            
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- New Program Form -->
        <div class="mt-8 shadow-lg overflow-y-scroll">
            <div id="alertContainer"></div>
            <h2 class="text-xl font-bold mb-4">Create New Program</h2>
            <form action="/programs/{{ logged_in_user.id }}" method="post" class="space-y-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label for="start_date" class="block text-base md:text-xl font-medium text-gray-700">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" required
                            class="mt-1 block w-full p-4 rounded-md text-base md:text-xl border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                    <div>
                        <label for="end_date" class="block text-base md:text-xl font-medium text-gray-700">End Date:</label>
                        <input type="date" id="end_date" name="end_date" required
                            class="mt-1 block w-full p-4 rounded-md text-base md:text-xl border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                    </div>
                </div>
                <div>
                    <label for="rating" class="block text-base md:text-xl font-medium text-gray-700">Rating (1-3):</label>
                    <input type="number" id="rating" name="rating" min="1" max="3"
                        class="mt-1 block w-full p-4 rounded-md text-base md:text-xl border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                </div>
                <div>
                    <label for="description" class="block text-base md:text-xl font-medium text-gray-700">Description:</label>
                    <textarea id="description" name="description" required
                        class="mt-1 block w-full rounded-md p-4 text-base md:text-xl border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"></textarea>
                </div>
                <input type="hidden" name="user_id" value="{{ logged_in_user.id }}">
                <button type="submit"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-indigo-200">Create
                    Program</button>
            </form>
        </div>

    </div>
</div>

<script src="https://cdn.tailwindcss.com/"></script>
<script>
    // deleting program buttons
    document.querySelectorAll('.bg-red-500').forEach(button => {
        button.addEventListener('click', function() {
            var programId = this.getAttribute('data-program-id');
            deleteProgram(programId);
        });
    });

    function deleteProgram(programId) {
        fetch(`/programs/${programId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then(response => {
        if (response.ok) {
            alert(`program with id ${programId} successfully deleted`)
            window.location.reload();
        }
    })
        
    }

    // displaying the messages if a successful redirect
    const urlParams = new URLSearchParams(window.location.search);
    const isSuccess = urlParams.get('success');

    // Function to show success or failure alert
    function showMessage(message, type) {
        const alertContainer = document.getElementById('alertContainer');
        alertContainer.innerHTML = `<div class="bg-${type}-100 border border-${type}-400 text-${type}-700 px-4 py-3 rounded relative" role="alert">${message}</div>`;
    }

    // Show appropriate message based on success parameter
    if (isSuccess === 'true') {
        showMessage('Program created successfully.', 'green');
    } else if (isSuccess === 'false') {
        showMessage('Failed to create program. Please try again.', 'red');
    }
</script>

{% endblock %}

