{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="flex justify-center flex-wrap">
    <!-- User Form -->
    <div class="container mx-auto mt-20 bg-white p-8 rounded-md shadow-md max-w-xl">
        <h2 class="text-center text-2xl font-bold mb-4">Change Password</h2>
        <form id="passwordChangeForm" action="/users/{{ user.id }}/password_reset" method="post">
            <input type="password" name="old_password" placeholder="Old Password" required class="w-full px-4 py-2 mb-4 border rounded-md">
            <input type="password" name="new_password" placeholder="New Password" required
            pattern="^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,}$" 
            title="Password must be 8 characters long, and include alphabetical, numerical, and 1 special character"
            class="w-full px-4 py-2 mb-4 border rounded-md">
            <input type="password" name="confirm_password" placeholder="Confirm New Password" required 
            pattern="^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,}$" 
            title="Password must be 8 characters long, and include alphabetical, numerical, and 1 special character"
            class="w-full px-4 py-2 mb-4 border rounded-md">
            <input type="hidden" name="user_id" value="{{ user.id }}" id="user_id">
            <input type="submit" id="changePassword" value="Change Password" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer">
        </form>
        <h2 class="text-center text-red-500 text-lg font-bold m-5" id="error_message"></h2>

    </div>
</div>

<script>
document.getElementById('changePassword').addEventListener('click', function(event) {
    event.preventDefault();
    
    var form = document.getElementById('passwordChangeForm');
    var oldPassword = form.querySelector('input[name="old_password"]').value;
    var newPassword = form.querySelector('input[name="new_password"]').value;
    var confirmPassword = form.querySelector('input[name="confirm_password"]').value;

    // Client side validation
    
    if (newPassword !== confirmPassword) {
        document.getElementById("error_message").innerHTML = "New passwords do not match."
        return;
    }

    passwordPattern = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9]).{8,}$/;
    if (!passwordPattern.test(confirmPassword)) {
        document.getElementById("error_message").innerHTML = "Password must be 8 characters long and include at least one alphabetical character, one numerical character, and one special character."
        return;
}

    user_id = document.getElementById("user_id").value

    var url = `/users/${user_id}/password_reset`;

    console.log(user_id)

    var data = {
        old_password: oldPassword,
        new_password: newPassword,
        confirm_password: confirmPassword,
    };

    fetch(url, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => {
        if (response.ok) {
            alert("Password changed successfully!");
            form.reset();
            window.location.href = "/";
        }
        else if (response.status === 400) {
        alert("Incorrect password. Please try again.");
        } 
        else {
            console.error('Error:', response.statusText);
            alert("Failed to change password.");
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert("An error occurred while processing your request. Please try again.");
    });
});
</script>
{% endblock %}
