{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class = "flex justify-center flex-wrap">
    <!-- User Form -->
    <div class="container mx-auto mt-20 bg-white p-8 rounded-md shadow-md max-w-xl">
        <h2 class="text-center text-2xl font-bold mb-4">User Information</h2>
        <form id="userForm" action="/update_user" method="put">
            <input type="text" name="name" placeholder="Name" required class="w-full px-4 py-2 mb-4 border rounded-md" value="{{ user.name }}">
            <input type="email" name="email" placeholder="Email" required 
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
            title="Enter a valid email address"
            class="w-full px-4 py-2 mb-4 border rounded-md" value="{{ user.email }}">
            
            <input type="hidden" name="user_id" value="{{ user.id }}" id = "user_id">
            <input type="submit" id="editUser" value="Submit Changes" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer">
            <button id="deleteUser" class="w-full bg-red-500 text-white py-2 px-4 rounded-md cursor-pointer mt-2">Delete User</button>
            <button id="resetUser" class="w-full bg-yellow-500 text-white py-2 px-4 rounded-md cursor-pointer mt-2">Reset Changes</button>
        </form>

        <div class="flex justify-center mt-4">
            <a href="/users/{{ user.id }}/password_reset" class="w-1/2 bg-green-500 text-center text-white py-2 px-4 rounded-md cursor-pointer mt-2">Reset Password</a>
        </div>
    </div>

    <!-- Profile Form -->
    <div class="container mx-auto mt-20 bg-white p-8 rounded-md shadow-md max-w-xl">
        <h2 class="text-center text-2xl font-bold mb-4">Profile Information</h2>
        <form id="profileForm" action="/users/profiles/{{ user.id }}" method="put">
            <input type="text" name="profile_pic" placeholder="Profile Picture" required class="w-full px-4 py-2 mb-4 border rounded-md" value="{{ profile.profile_pic }}">
            <textarea name="bio" placeholder="Bio" required class="w-full px-4 py-2 mb-4 border rounded-md">{{ profile.bio }}</textarea>
            <input type="hidden" name="profile_id" value="{{ profile.id }}">
            <input type="submit" id="editProfile" value="Submit Changes" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer">
            <button id="resetForm" class="w-full bg-yellow-500 text-white py-2 px-4 rounded-md cursor-pointer mt-2">Reset Changes</button>
        </form>
    </div>
</div>


<script>

    // email validation
    function isValidEmail(email) {
        var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        return emailRegex.test(email);
    }

    // User Form
    document.getElementById('editUser').addEventListener('click', function(event) {
        event.preventDefault();
        
        var form = document.getElementById('userForm');
        var name = form.querySelector('input[name="name"]').value;
        var email = form.querySelector('input[name="email"]').value;

        // Check if name and email fields are empty
        if (name.trim() === '') {
            event.preventDefault();
            alert('Missing Name.');
            return
        }

        if (email.trim() === '' || !isValidEmail(email)) {
            event.preventDefault();
            alert('Please enter a valid email address.');
            return
        }

        var url = '/users/{{ user.id }}';

        var data = {
        name: name,
        email: email,
        };

        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })


        .then(response => {
            if (response.ok) {
                alert("user updated!")
                window.location.reload()
            } else {
                alert("error occurred")
                console.error('Error:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });


    document.getElementById('deleteUser').addEventListener('click', function(event) {
        event.preventDefault();
        if (confirm("Are you sure you want to delete this user?")) {
            // Logic to delete user
        }
        
        var url = '/users/{{ user.id }}';

        fetch(url, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })

        .then(response => {
            if (response.ok) {
                alert("user deleted!")
                window.location.href = "/users/deleted"
            } else {
                console.error('Error:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    // Profile Form
    document.getElementById('editProfile').addEventListener('click', function(event) {
        event.preventDefault();
        
        var form = document.getElementById('profileForm');
        var profilePic = form.querySelector('input[name="profile_pic"]').value;
        var bio = form.querySelector('textarea[name="bio"]').value;
        var profileId = form.querySelector('input[name="profile_id"]').value;

        var url = '/users/profiles/{{ user.id }}';

        var data = {
        profile_pic: profilePic,
        bio: bio,
        profile_id: profileId
        };

        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })


        .then(response => {
            if (response) {
                alert("profile updated!")
                window.location.reload()
            } else {
                console.error('Error:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    // resetting User / Profile Forms
    document.getElementById('resetUser').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('userForm').reset();
    });

    document.getElementById('resetForm').addEventListener('click', function(event) {
        event.preventDefault();
        document.getElementById('profileForm').reset();
    });
</script>
{% endblock %}