{% extends "base.html" %}

{% block title %}Program Page{% endblock %}

{% block content %}

<div class = "block justify-center flex-wrap">
    <!-- Program Update Form -->
    <div class="container mx-auto mt-20 bg-white p-8 rounded-md shadow-md w-1/2">
        <h2 class="text-center text-2xl font-bold mb-4">Program Information</h2>
        <form id="programForm" action="/programs/{{ program.id }}" method="put">
            <input type="date" name="start_date" placeholder="Start date" required class="w-full px-4 py-2 mb-4 border rounded-md" value="{{ program.start_date }}">
            <input type="date" name="end_date" placeholder="End date" required class="w-full px-4 py-2 mb-4 border rounded-md" value="{{ program.end_date }}">
            
            <input type="hidden" name="user_id" value="{{ program.user_id }}" id = "user_id">
            <input type="number" name="rating" placeholder="Rating" required min="1" max="3" class="w-full px-4 py-2 mb-4 border rounded-md" value="{{ program.rating }}">
            <input type="text" name="description" placeholder="Description" required class="w-full px-4 py-2 mb-4 border rounded-md" value="{{ program.description }}">

            <input type="submit" id="editProgram" value="Submit Changes" class="w-full bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer">
            
            <button id="resetProgram" class="w-full bg-yellow-500 text-white py-2 px-4 rounded-md cursor-pointer mt-2">Reset Changes</button>
        </form>
    </div>

    <div class="container mx-auto mt-20 bg-white p-8 rounded-md shadow-md max-w-xxxl">
        <h2 class="text-center text-2xl font-bold mb-4">Program Exercises</h2>
        {% if program_exercises != 'No instance found' %}
        <table class="table-auto w-full">
            <thead>
                <tr>
                    <th class="px-4 py-2">Exercise ID</th>
                    <th class="px-4 py-2">Image</th>
                    <th class="px-4 py-2">Name</th>
                    <th class="px-4 py-2">Notes</th>
                    <th class="px-4 py-2">Sets</th>
                    <th class="px-4 py-2">Reps</th>
                    <th class="px-4 py-2">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for program_exercise in program_exercises %}
                <tr class="table_row">
                    <td class="border px-4 py-2 text-center">{{ program_exercise.exercise_id }}</td>
                    <td class="border px-4 py-2 flex justify-center align-center">
                        <img src="{{ program_exercise.image }}" 
                        class="w-40 h-40 object-cover rounded-full mr-4">
                    </td>
                    <td class="border px-4 py-2 text-center">{{ program_exercise.name }}</td>

                    <td class="border px-4 py-2 text-center w-1/4">
                        <div class="form-field">
                            <textarea name="notes" class="bg-blue-100 shadow-sm rounded-md p-2 w-full h-full">{{ program_exercise.notes }}</textarea>
                        </div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <div class="form-field">
                            <input type="number" name="sets" value="{{ program_exercise.sets }}" class="bg-blue-100 shadow-sm rounded-md p-2 w-full">
                        </div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <div class="form-field">
                            <input type="number" name="reps" value="{{ program_exercise.reps }}" class="bg-blue-100 shadow-sm rounded-md p-2 w-full">
                        </div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <div class="form-field">
                            <input type="number" name="rating" min="1" max="3" value="{{ program_exercise.rating }}" class="bg-blue-100 shadow-sm rounded-md p-2 w-full">
                        </div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <div class="form-field">
                            <button class="edit_button border px-4 py-2 bg-yellow-500 text-white px-3 py-1 rounded-md" data-exercise-id="{{ program_exercise.exercise_id }}" data-program-id="{{ program.id }}">Edit</button>
                        </div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <div class="form-field">
                            <button class="reset_button border px-4 py-2 bg-blue-500 text-white px-3 py-1 rounded-md"
                            data-notes="{{ program_exercise.notes}}" data-sets="{{ program_exercise.sets }}" 
                            data-reps="{{ program_exercise.reps }}" data-rating="{{ program_exercise.rating }}"
                            >Reset</button>
                        </div>
                    </td>
                    <td class="border px-4 py-2 text-center">
                        <div class="form-field">
                            <button class="remove_button border px-4 py-2 bg-red-500 text-white px-3 py-1 rounded-md" data-program-exercise-id="{{ program_exercise.exercise_id }}">Remove</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="container mx-auto flex flex-wrap mt-20 bg-white p-8 rounded-md shadow-md max-w-xxxl">
        <!-- Add New exercise / view your exercises section -->
        <div class="w-full sm:w-1/2">
            <div class="container mx-auto mt-20 bg-white p-8 rounded-md shadow-md max-w-md">
                <h2>New Exercise?</h2>
                <div id="createExerciseForm">
                    <form id="exerciseForm" action="/exercises" method="post">
                        <input type="text"  name="name" placeholder="Name" required class="w-full px-4 py-2 mb-4 border rounded-md">
                        <input type="text" name="image" placeholder="Image" class="w-full px-4 py-2 mb-4 border rounded-md">
                    </form>
                </div>
                <button id="addExerciseButton" type="submit" class="w-full bg-green-500 text-white py-2 px-4 rounded-md cursor-pointer mt-2">Add Exercise</button>
            </div>
        
            <div class="container mx-auto mt-20 bg-white p-8 rounded-md shadow-md max-w-md">
                <h2 class="text-center text-2xl font-bold p-5 m-5">my exercises</h2>
                {% for exercise in users_exercises %}
                <div class="flex items-center mb-4">
                    <p class="flex-grow">{{ exercise.name }}</p>
                    <img src="{{ exercise.image }}" alt="{{ exercise.name }}" class="w-16 h-16 object-cover rounded-full mr-4">
                    <button class="delete_button bg-red-500 text-white px-3 py-1 rounded-md" data-exercise-id="{{ exercise.id }}">Delete</button>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- adding exercise to program -->
        <div class="w-full sm:w-1/2">
            <h2 class="text-center text-2xl font-bold p-5 m-10">Add Exercise to Program</h2>
            <div class="container mx-auto p-5 m-5 flex flex-row flex-wrap">
                <div class="container mx-auto bg-white p-8 rounded-md shadow-md max-w-md">
                    <h2>Choose Exercise</h2>
                    <form id="addExerciseForm" action="/details" method="post">
                        
                        <!-- search dropdown -->
                        <input type="text" id="exerciseSearch" list="exerciseList" placeholder="Search exercise..." class="w-full px-4 py-2 mb-4 border rounded-md">
                        <datalist id="exerciseList">
                            {% for exercise in exercises %}
                                <option value="{{ exercise.id }} - {{ exercise.name }}" data-id="{{ exercise.id }}"></option>
                            {% endfor %}
                        </datalist>
                        <input type="hidden" required id="selectedExerciseId" name="exercise_id">
        
                        <!-- Hidden inputs for program_id (user_id added server-side) -->
                        <input type="hidden" name="program_id" value="{{ program.id }}">
        
                        <label for="notes" class="block">Notes</label>
                        <textarea name="notes" class="w-full px-4 py-2 mb-4 border rounded-md"></textarea>
        
                        <label for="sets" class="block">Sets</label>
                        <input type="number" name="sets" class="w-full px-4 py-2 mb-4 border rounded-md" min="1">
        
                        <label for="reps" class="block">Reps</label>
                        <input type="number" name="reps" class="w-full px-4 py-2 mb-4 border rounded-md" min="1">
        
                        <label for="rating" class="block">Rating (1-3)</label>
                        <input type="number" name="rating" class="w-full px-4 py-2 mb-4 border rounded-md" min="1" max="3">
        
                        <input type="submit" value="Add Exercise" class="w-full bg-green-500 text-white py-2 px-4 rounded-md cursor-pointer">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<script>

    // updating search id for the add exercise to program form?
    const exerciseSearch = document.getElementById('exerciseSearch');
    const selectedExerciseIdInput = document.getElementById('selectedExerciseId');
    const datalist = document.getElementById('exerciseList');

    exerciseSearch.addEventListener('change', function() {
        const selectedOption = document.querySelector(`#exerciseList option[value="${this.value}"]`);
        if (selectedOption) {
            const exerciseId = selectedOption.getAttribute('data-id');
            selectedExerciseIdInput.value = exerciseId;
        } 
    });

    // preventing exercise_form submission if invalid exercise selection
    addExerciseForm.addEventListener('submit', function(event) {
    if (!selectedExerciseIdInput.value) {
        alert("Please select an exercise from the list.");
        event.preventDefault();
    }
    })

    //reset_button
    document.querySelectorAll('.reset_button').forEach(button => {
        button.addEventListener('click', function() {
            initialValues = {
                'notes': this.getAttribute('data-notes'),
                'sets': this.getAttribute('data-sets'),
                'reps': this.getAttribute('data-reps'),
                'rating': this.getAttribute('data-rating'),
            }

            var tableRow = this.closest('tr');
            
            tableRow.querySelector('textarea[name="notes"]').value = initialValues['notes'];
            tableRow.querySelector('input[name="sets"]').value = initialValues['sets'];
            tableRow.querySelector('input[name="reps"]').value = initialValues['reps'];
            tableRow.querySelector('input[name="rating"]').value = initialValues['rating'];
        })
    })



    // Changing program_exercises / edit_button
    document.querySelectorAll('.edit_button').forEach(button => {
        // NOTE: arrow functions do not have this context, hence using normal function below
        button.addEventListener('click', function() {
            var tableRow = this.closest('tr');

            var notes = tableRow.querySelector('textarea[name="notes"]').value;
            var sets = tableRow.querySelector('input[name="sets"]').value;
            var reps = tableRow.querySelector('input[name="reps"]').value;
            var rating = tableRow.querySelector('input[name="rating"]').value;

            var exerciseId = this.getAttribute('data-exercise-id')
            var programId = this.getAttribute('data-program-id')

            url = `/details/${exerciseId}/${programId}`

            data = {
                notes: notes,
                sets: sets,
                reps: reps,
                rating: rating
            }

            fetch(url, {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then((response) => {
                if (response.ok) {
                    alert("program exercise updated!")
                    window.location.reload()
                }
            })
            .catch((error) => {
                console.log(error)
            })
            
            })
    })

        
    // deleting a created exercise
    document.querySelectorAll('.delete_button').forEach(button => {
        button.addEventListener('click', function() {
            var exerciseId = this.getAttribute('data-exercise-id')
            deleteExercise(exerciseId)
        })
    })

    function deleteExercise(exerciseId) {
        alert(`exercise with id of ${exerciseId} to be deleted`)
        fetch(`/exercises/${exerciseId}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then((response) => {
            if (response.ok) {
                alert(`exercise ${exerciseId} successfully deleted`)
                window.location.reload()
            }
            else {
                alert("an error occurred")
            }
        })
        .catch((error) => {
            console.log(error)
        })
    }

    // Creating new exercise
    document.getElementById("addExerciseButton").addEventListener('click', function(event) {
        event.preventDefault();
        
        
        var exerciseForm = document.getElementById('exerciseForm');
        var name = exerciseForm.querySelector('input[name="name"]').value;
        var image = exerciseForm.querySelector('input[name="image"]').value;

        var url = "/exercises"

        var data = {
            name: name,
            image: image
        };

        fetch(url, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })

        .then(response => {
            if (response.ok) {
                alert("exercise added!")
                window.location.reload()
            } else {
                console.error('Error:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    })

    document.getElementById('editProgram').addEventListener('click', function(event) {
        event.preventDefault();
        
        var form = document.getElementById('programForm');
        var startDate = form.querySelector('input[name="start_date"]').value;
        var endDate = form.querySelector('input[name="end_date"]').value;
        var rating = form.querySelector('input[name="rating"]').value;
        var description = form.querySelector('input[name="description"]').value;

        var url = '/programs/{{ program.id }}';

        var data = {
        start_date: startDate,
        end_date: endDate,
        rating: rating,
        description: description
        };

        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })

        .then(response => {
            if (response.ok) {
                alert("program updated!")
                window.location.reload()
            } else {
                console.error('Error:', response.statusText);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });

    });

    //resetting program form
    document.getElementById('resetProgram').addEventListener('click', function(event) {
    event.preventDefault();
    alert("form reset")
    document.getElementById('programForm').reset();
    });

    
    // removing exercise from program
    document.querySelectorAll('.remove_button').forEach(button => {
        button.addEventListener('click', function() {
            var exerciseId = this.getAttribute('data-program-exercise-id')
            removeExercise(exerciseId)
        })
    })

    function removeExercise(exerciseId) {
        var form = document.getElementById("programForm");

        var actionUrl = form.getAttribute("action"); // i.e. "/programs/{{ program.id }}"
        var programId = actionUrl.split("/").pop(); // i.e. {{ program.id }}

        console.log("Program ID:", programId);
        var url = `/details/${exerciseId}/${programId}`
    
        fetch(url, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            },
        })
        .then((response) => {
            if (response.ok) {
                window.location.reload()
            }
        })
        .catch((error) => {
            console.log(error)
        })

    }
    

</script>
{% endblock %}
